encryption = "age"

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
recipient = "age1t60vkds3ee3mh6e6fq444ryjhzqxqqehl7qqkcnx3kd0ekk75avsrqqkyq"

[git]
autoCommit = true
autoPush = true
